html {
  background: #f8f8f8 url(img/options-bg.png) 0 0 repeat;
  font: 13px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #525c66;
  min-height: 100%;
  overflow-x: hidden;
  text-shadow: 0 1px rgba(255,255,255,0.2);
}

body {
  max-width: 650px;
  margin: 25px auto 10px auto;
  padding: 40px;
  border-width: 20px;
  overflow-x: hidden;
  -o-border-image: url(img/options-container.png) 20  stretch;
  text-align: left;
}

header {
  display: block;
  text-align: center;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 1px #fff;
}

footer {
  display: block;
  text-align: center;
  margin: 20px 50px 0 50px;
  padding-top: 30px;
  border-top: 1px solid #fff;
  box-shadow: 0 -1px rgba(0,0,0,0.15);
  color: #525c66;
}

footer a, fieldset a {
  text-decoration: none;
  color: #525c66;
}

footer a:hover, fieldset a:hover {
  color: blue;
  text-decoration: underline;
}

footer p.big {
  font-size: 13px;
  margin: 5px 0 3px 0;
  line-height: 24px;
}

footer p.small {
  font-size: 11px;
  margin: 0;
  line-height: 15px;
}

h1 {
  line-height: 0.9;
  color: #cc0f16;
  font-size: 1.8em;
  color: #ae4444;
  text-shadow: 0 1px rgba(255,255,255,0.5);
}

h2, h3 {
  font-size: 120%;
  margin-bottom: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 0 1px rgba(0,0,0,0.1);
}

.button_line {
    padding: 10px 0;
    text-align: right;
}

.button_line button {
  font-weight: bold;
}

.options_small, .options_small a {
  color: #888;
}

.options_small a:hover {
  color: blue;
}

.mail {
    clear: both;
    margin-left: 0;
    margin-top: 2px;
    margin-bottom: 5px;
}

.access_granted {
  background: url('img/check16.png') no-repeat  0 5px;
  padding-left: 20px;
  clear: both;
}

.access_granted .right {
  float: right;
}

.access_granted label {
  margin-left: 3px;
  margin-right: 10px;
}

.error {
  margin-left: 135px;
  margin-bottom: 15px;
  color: #B11921;
  display: none;
}

.showMore {
  background: url('img/plus16.png') no-repeat  0 5px;
  padding-left: 20px;
  clear: both;
  margin-left: 20px;
  margin-top: 10px;
}

.showMore:hover {
  color: blue;
}

fieldset {
  border: 1px solid rgba(150,160,200,0.4);
  background: rgba(150,160,200,0.1);
  border-radius: 10px;
  padding: 10px 20px;
}

fieldset label {
  margin-left: 20px;
}

fieldset *:disabled {
  opacity: 0.5;
}

fieldset input {
  background: #fff;
  color: #1e3853;
}

fieldset input[type=text], fieldset input[type=password] {
  border-radius: 3px;
  border: 1px solid rgba(80,80,130,0.5);
  font: 13px/24px "helvetica neue",arial,sans-serif;
  -o-transition: 0.25s;
  height: 25px;
  line-height: 22px;
  padding: 0 5px;
  width: 200px;
}

fieldset input:readonly, fieldset input[type=text]:readonly, fieldset input[type=password]:readonly {
  background-color: #ddd !important;
  color: #666 !important;
}

fieldset input[type=text]:focus, fieldset input[type=password]:focus {
  border-color: rgba(80,80,130,0.8);
}

fieldset input[type=radio] {
}

fieldset input[type=checkbox], fieldset input[type=radio] {
  border-radius: 2px;
  border: 1px solid rgba(80,80,130,0.5);
  background: #fff;
  box-shadow: 0 1px 1px rgba(121,153,166,0.75), inset 0 1px rgba(255,255,255,0.25), inset 0 0 1px rgba(255,255,255,0.75);
  -o-transition: 0.25s;
  height: 17px;
  padding: 3px;
  width: 20px;
  box-shadow: inset 0 1px 1px rgba(121,153,166,0.75), 0 1px rgba(255,255,255,0.25);
}

fieldset input[type=radio]:active, fieldset input[type=checkbox]:active {
  border-color: rgba(80,80,130,0.8);
  background-color: #d3dbf5;
}

fieldset input[type=radio]:disabled, fieldset input[type=checkbox]:disabled {
  background: #fff;
  border-color: rgba(80,80,130,0.5);
}

#box_update_intervall {
    width: 28px;
    text-align: right;
}
